//colors
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;
$color-pink-light:#F582A7;
$color-pink-dark:#F10086;
$color-green: #00B800;
$color-red: #ef4444;
$color-grey-lightest: #f9f9f9;
$color-grey-light: #ccc;
$color-grey-dark: #555;
$color-white: #fff;
$color-black: #000;