@import "../../styles/main";

.header {
	@include spaceBetweenX;
	height: 6rem;
	font-size: 2.2rem;
	background: $color-blue-dark;
	color: $color-white;
	text-transform: uppercase;
	padding: 0 3rem;

	@media only screen and (max-width: 767px) {
		font-size: 1.8rem;
  	}
}