@import "../styles/main";

.container {
	@include centerY;
	margin-top: 10rem;
	padding: 1rem;
	font-size: 2.2rem;
	text-align: center;

	@media only screen and (max-width: 767px) {
		width: 90vw;
  	}
}

.result {
	font-size: 3rem;
	color: $color-pink-dark;
}


